/bin
/target
.classpath
.project
.settings/
*.txt
temp/
categorizerErrorTesting
*.swp
*.swo
Negative_Labeled_Segment_freq
Negative_Labeled_Segments
Negative_Snippets
Positive_Labeled_Segment_freq
Positive_Labeled_Segments
Positive_Snippets
test-snippets.txt-sensitivity
**/.DS_Store
